{{!--
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/admin/style.css">
    <title>Edit Product</title>
</head>
{{> adminHeader}}

<body>

</body>

</html> --}}

{{#> base }}
<form method="POST" id="add" class="test">
    <div class="new">
        <div class="form-group">
            <label for="name" class="text-light">Name</label>
            <input type="text" name="name" value="{{data.name}}">
        </div>
        <div class="form-group">
            <label for="" class="text-light">Price</label>
            <input type="text" name="price" value="{{data.price}}">
        </div>
        <div class="form-group">
            <label for="" class="text-light">Description</label>
            <textarea type="text" name="description" value="{{data.description}}"></textarea>
        </div>
        <div class="form-group">
            <label for="" class="text-light">Quantity</label>
            <input type="text" name="quantity" value="{{data.quantity}}">
        </div>
        <div class="form-group">
            <input type="file" id="myFile" name="filename">
        </div>
        <div class="form-group">
            <button type="submit" class="btn text-dark update">Update</button>
        </div>
    </div>
</form>
{{/base}}