@import url('https://fonts.googleapis.com/css2?family=League+Spartan&display=swap');
.userContainer {
    width: 100%;
    height: 800px;
    box-sizing: border-box;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.displayContainer {
    width: 25%;
    height: 75%;
    border: 1px solid black;
    border-style: outset;
    border-radius: 10px;
    margin-bottom: 5%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.imgContainer {
    width: 100%;
    height: 35%;
    border: 1px solid black;
    border-radius: 10px;
}

.imgContainer:hover {
    color:aquamarine
}
/* .imgContainer {
    background-color: #D9DCDE;
    width: 100%;
    height: 400px;
    box-sizing: border-box;
    border: 1px solid black;
}

*/

.infoContainer {
    width: 100%;
    height: 65%;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.infoContainer div {
    margin-top: 4%;
    font-size: 20px;
    font-family: 'League Spartan', sans-serif;
}

.infoContainer button {
    margin-top: 70%;
    width: 80px
}


.userImg {
    border: 1px solid black;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #D9DCDE;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 100px;
}

.userImg:hover {
    background-color:aquamarine;
}



.userImg i {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    font-size: 100px;
    color: white;

}
