* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.btnPay {
    display: flex;
    justify-content: center;
    align-items: center;
}

#btnSave {
    display: flex;
    justify-content: center;
    align-items: center;
}

#drwPayment {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

