.btnPay {
    display: flex;
    justify-content: center;
    align-items: center;
}

#btnSave {
    display: flex;
    justify-content: center;
    align-items: center;
}

#drwPayment {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.btnEdit {
    border: 0;
    background-color: #fff;
    text-decoration: none;
}

.btnEdit a {
    color: #222222;
}
