.productsContainer {
    width: 100%;
    display: flex;
    margin-top : 10px;  
    flex-wrap:wrap ;
    flex-direction:row;
    align-items: center;  
}   
.productsContainer img {
    width: 25%;
    border-radius: 30%;
}
   .productInfo {
      width:65% ;
      border:none ;
      position: relative;
      justify-content: center;
      display: inline-block;
      justify-content: center;
      align-items: center;
      padding-left: 50px;
      font-size: 18px;
      vertical-align:middle;
   }
 button {
    transition: all 0.3s ease;
    padding-left: 10px;
    padding-right: 10px;
 }
 button:hover {
    box-shadow: 1px 1px grey;
    border: 3px solid rgb(11, 27, 212);
    background-color: aliceblue;
    color: rgb(11, 27, 212);
 }

 .detailForm {
   display:flex;
   justify-content: center;
   align-items: center;
 }
