.productsContainer {
    width: 100%;
    display: flex;
    flex-direction:row;
    flex-wrap:wrap ;
    margin-top : 100px;
}   

.productsContainer img {
    width: 40%;

}

 .productInfo {
    width:60% ;
 }

    
