.productsContainer {
    width: 100%;
    display: flex;
    margin-top : 10px;  
    flex-wrap:wrap ;
    flex-direction:row;
    align-items: center;  
}   

.productsContainer img {
    width: 34%;
    border-radius: 30%;

}
 .productInfo {
    width:60% ;
    border:none ;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-left: 40px;
 }

 button {
    transition: all 0.3s ease;
   padding-left: 10px;
   padding-right: 10px;
   position:right;
 }
 button:hover {
    box-shadow: 1px 1px grey;
    border: 3px solid rgb(11, 27, 212);
    background-color: aliceblue;
    color: rgb(11, 27, 212);
 }