body {
  background-color: #f0f0f0;
  padding: 0;
  margin: 0;
}
.wrap {
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
body {
  width: 100%;
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 50px;
  padding-right: 50px;
  background: #2c2d2ed0;
  backdrop-filter: blur(5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  z-index: 1;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
}

#navbar {
  display: flex;

  align-items: center;
  justify-content: center;
}

#navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
  display: block;
}

#navbar li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
}

/* dropdown menu shop */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ff9000;
  min-height: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.02);
  z-index: 1;
  padding-left: 0;
}

.dropdown {
  position: relative;
  display: inline-block;
  padding: 0;
}

.dropdown-content li a {
  color: black;
  padding: 5px 5px;
  text-decoration: none;
  display: block;
}

.dropdown-content li:hover {
  background-color: #000000;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropbtn {
  background-color: #000000;
}
/* end dropdown menu shop */

.dropdown i {
  color: #fff;
}

#navbar li a.active::after,
#navbar li a:hover::after {
  content: "";
  width: 30%;
  height: 2px;
  background: #ffffff;
  position: absolute;
  bottom: -4px;
  left: 20px;
}
.search {
  width: 90%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #ff9000;
  border-right: none;
  padding: 5px;
  /* height: 20px; */
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9dbfaf;
}

.searchTerm:focus {
  color: #1a1a1a;
}

.searchButton {
  width: 40px;
  height: 40px;
  border: 1px solid #ff9000;
  background: #ff9000;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.wrap {
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@import url("https://fonts.googleapis.com/css2?family=League+Spartan&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
}
