<body>
    {{#> base}}
    <section id="page-header">
        <h2>#stayfresh</h2>
        <p>Save more with coupons & up to 70% off</p>
    </section>

    <section id="product1" class="section1">
        <div class="pro-container">
            {{#each products}}
            <div class="pro" >
                <a href="/detail/{{_id}}"> 
                    <img class="f" src="/img/{{image}}" alt="">
                </a>
                <div class="des">
                    <h5>{{name}}</h5>
                    <h4>{{price}}$</h4>  
                </div>
                <a href=""><i class="fas fa-cart-plus cart"></i></a>
            </div>        
            {{/each}}
        </div>
    </section>
    {{/base }}
</body>
</html>