 <footer>
    <div class="footer-content">
        <div class="footer-text">
            <h3>Ten web</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate aliquid et quaerat, unde dolores voluptatum nobis rem consequatur repellendus ipsum commodi voluptates maiores architecto veritatis optio perferendis dolore? Perspiciatis, ducimus.</p>
        </div>
        <div class="footer-link">
            <ul class="information">
                <h4> Services </h4>
                <li><a href="#"></a> About us</li>
                <li><a href="#"></a> Service</li>
                <li><a href="#"></a> Sell product on about page</li>
            </ul>
            <div style = "width: 30px"></div>
            <ul class="socials">
                <h4> Social information </h4>
                <li><a href = "#"><i class="fa-brands fa-facebook"></i></a></li>
                <li><a href = "#"><i class="fa-brands fa-instagram"></i></a></li>
                <li><a href = "#"><i class="fa-brands fa-twitter"></i></a></li>
                <li><a href = "#"><i class="fa-brands fa-youtube"></i></a></li>
                <li><a href = "#"><i class="fa-brands fa-pinterest"></i></a></li>
            </ul>
        </div>
    </div>
</footer>
