<section id="header">
  <a href="#"><img style="width: 25%;" src="../logo.png" class="logo" alt=""></a>
        <div>
  <div>
    <ul id="navbar">
      <div class="wrap">
        <div class="search">
          <input
            type="text"
            class="searchTerm"
            placeholder="What are you looking for?"
          />
          <button type="submit" class="searchButton">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </div>
      <li><a class="active" href="index.php">Home</a></li>
      <ul class="dropdown">
        <li><a class="dropbtn" href="shop.php">Shop</a>
          <ul class="dropdown-content">
            <li><a href="stratocaster.php">Stratocaster</a></li>
            <li><a href="telecaster.php">Telecaster</a></li>
            <li><a href="bass.php">Bass</a></li>
            <li><a href="acoustic.php">Acoustic</a></li>
            <li><a href="accessories.php">Accessories</a></li>
          </ul>
        </li>
      </ul>

      <li><a href="about.php">About</a></li>
      <li><a href="signin.php">Login</a></li>
      <li><a href="signin.php">Register</a></li>
      <li><a href="cart.php"><i class="fas fa-shopping-cart"></i></a></li>

    </ul>
  </div>
</section>