<section id="header">
  <a href="/"><img style="width: 25%;" src="../logo.png" class="logo" alt=""></a>
        <div>
  <div>
    <ul id="navbar">
      <div class="wrap">
        <div class="search">
                        <form id="form-id" class="searchTerm" action="/shop/search">
                            <input name="searchbar" style= "border: 3px solid #ff9000" type="text" class="searchTerm"
                                placeholder="What are you looking for?">
                            <button type="submit" class="searchButton">
                            <i class="fas fa-search"></i>
                            </button>
                        </form>
                        
                    </div>
      </div>
      <li><a class="active" href="/">Home</a></li>
      <ul class="dropdown">
        <li><a class="dropbtn" href="/shop">Shop</a>
          <ul class="dropdown-content">
            <li><a href="">Mercedes</a></li>
            <li><a href="">Lamborghini</a></li>
            <li><a href="">Bugatti</a></li>
            <li><a href="">Rolls royce</a></li>
            <li><a href="">Accessories</a></li>
          </ul>
        </li>
      </ul>

      <li><a href="">About</a></li>
      <li><a href="">Login</a></li>
      <li><a href="">Register</a></li>
      <li><a href="/cart"><i class="fas fa-shopping-cart"></i></a></li>

    </ul>
  </div>
</section>