<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" rel="stylesheet" />
    <title>Profile</title>
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/profile/profile.css">
</head>
{{>header }}
<body>
    <div class = "userContainer">
        <div class = "imgContainer">
            <div class = "userImg">
                <i class="fa-regular fa-user"></i>
            </div>
        </div>
        <div class = "infoContainer"></div>
    </div>
</body>
{{>footer}}
</html>