{{#> base }}
<div class="productsContainer">
        <img src="/img/1f.jpg">
        <div class="productInfo">
            <p>Name</p>
            <p>Price</p>
            <P>Description</p>
            <p>Quantity</p>
            <button type="AddToCart">Add to cart</button>
    </div>
    {{/ base }}