{{#> base }}
<div class="productsContainer">
        <img src="/img/1f.jpg">
        <div class="productInfo">
            <p>Name : {{name}}</p>
            <p>Price : {{price}}</p>
            <P>Description : {{description}}</p>
            <div class="quantity">
                <label for = "quantity">Quantity</label>
                <input type="number" id="quantity" name="quantity" min="1" max="">
            </div>
            <button type="AddToCart">Add to cart</button>
            
    </div>
    {{/ base }}